<h1>List of Employee </h1>
<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name </th>
			<th>Address</th>
			<th>Contact Number</th>
			<th>Role</th>
			<th>Email</th>
			<th>
		</tr>
	</thead>
	<tbody>
		<% @employees.each do |employee|%>
		<tr>
			<td><%=employee.first_name %></td>
			<td><%=employee.last_name %></td>
			<td><%=employee.address %></td>
			<td><%=employee.contact_number %></td>
			<td><%=employee.role %></td>
			<td><%=employee.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>